body{
    background: rgb(21,41,205);
    background: linear-gradient(90deg, rgba(21,41,205,1) 0%, 
                    rgba(48,114,201,1) 50%, rgba(38,255,251,1) 100%);
    overflow:scroll-x;
}

h1{
    display:flex;
    justify-content:center;
    margin:80px 0px;
}

a{
    text-decoration-line: none;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
    margin:80px 0px;

}

form,div{
    display:flex;
    justify-content:center;
    
}

input{
    background-color:initial;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: 80px 0px;
}