body{
    background: rgb(21,41,205);
    background: linear-gradient(90deg, rgba(21,41,205,1) 0%, 
                    rgba(48,114,201,1) 50%, rgba(38,255,251,1) 100%);
    overflow:scroll-x;
}

.big-cont{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.contain{
    
    text-align:center;
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size:200%;
    font-weight: bolder;
    padding:6%;
    width: 100%;
}

.explain{
    text-align:center;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size:35px;
    margin-top: 100px;
}

.box{
    padding:20px;
    width:75%;
    border-radius:20px;
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
    font-weight: bolder;
    margin:20px 0px;
    border: 3px solid white;
}

.enter{
    padding: 10px 20px;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color:white ;
    font-size: 40px;
    border: 3px solid white;
    border-radius: 35%;
    background-color: initial;

}


