header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-container {
  text-align: center;
  background-color: white;
  color: rgb(45, 45, 45);
  box-shadow: 0 24px 64px #26214a1a;
  border-radius: 15px;
  display: inline-block;
  padding: 0 30px 15px 30px;
  margin-top: 60px;
  box-sizing: border-box;
}

.title {
  font-family: "Cairo", sans-serif;
  font-size: 40px;
  padding: 0;
  margin: 0;
}
.description {
  font-family: "Sora", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.warning {
  box-sizing: border-box;
  color: rgb(255, 106, 0);
  border: 1px solid rgb(255, 106, 0);
  padding: 10px 5px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.form-container {
  font-family: "Cairo", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 600px;
  box-sizing: border-box;
  padding: 5px 0 40px 0;
}

.form-container input {
  font-family: "Cairo", sans-serif;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 24px 64px #26214a1a;
}

.form-container div {
  margin-bottom: 10px;
}

.form-container input[type="submit"] {
  margin-top: 15px;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.form-container input[type="submit"]:hover {
  background-color: rgb(101, 178, 255);
}
