<!DOCTYPE html>
<html>
    <head>
        <title>settings</title>
        <link rel="stylesheet" href="../style/first.css">
    </head>
    <body>
        <p class="explain">
            this web site help you do make your own schedule of the week
            <br/>
            "time is money" 
        </p>
        <div class="big-cont">
            {% if error.er_bool==True%}
            {% block content %}
            <div class="error_block">
                <p> check your input data </p>
            </div>
            {% endblock content%}
        {% endif %}
        <div class="contain">
            <form method="POST" action="/create">
                <input placeholder="when (week) your schedule start (monday)" onfocus="(this.type='date')" onblur="(this.type='text')" type="text" name="start" class="box" >
                <br/>
                <input type="number" name="day_number" min=1 max=7 class="box" placeholder="number of days of schedule(min 1 day max 7 day)">
                <br/>
                <input type="number" name="wakeup" min=0 max=23 class="box" placeholder="when you wake up">
                <br/>
                <input type="number" placeholder="when you sleep" name="sleep" min=0 max=23 class="box">
                <br/>
                <input type="text" placeholder="name of file" name="name" class="box">
                <br/>
                <input type="submit" value="Create" class="enter">
            </form>
        </div>
    </div>
    </body>
</html>