<!DOCTYPE html>
<html>
    <head>
        <title>create a schedule</title>
        <link rel="stylesheet" href="../style/first.css">
    </head>
    <body>
            {% for i in range(1,table.num+1) %}
                <div class="day_tab">
                    <button><a href=#{{table.table[0][i][0]}}>{{table.table[0][i][0]}}</a></button>
                </div>   
            {% endfor %}
            <form method="POST" action="/pdf_create">
            {% for i in range(1,table.num+1) %}
                <div id={{table.table[0][i][0]}}>
                    <table>
                    <tr>
                        <td>
                            hour
                        </td>
                        <td>
                            activity
                        </td>
                        <td>
                            duration
                        </td>
                    </tr>
                    {% for l in range(1,table.duration+1)%}
                    <tr>
                        <td><label>{{table.table[l][0][0]}}</label></td>
                    <td><input type="text" name="{{l}}{{i}}time" value="{{table.table[l][i][0]}}" ></td>
                        <td><input type="number" name="{{l}}{{i}}duration" value="{{table.table[l][i][1]}}"></td>
                    </tr>
                    {% endfor %}
                </table>
            {% endfor %}
            <input type="submit" value="create your PDF file">
        </form>
    </body>
</html>